<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.naver.blog.LibMapper">
	<!-- 도서 반납 -->
	<update id="updateReturnBook" parameterType="String">
		UPDATE 
			rental 
		SET 
			RETURNDAY = now(),
			RETURNSTATUS='반납' 
		WHERE 
			RENTALCODE = #{rentalCode}; 
	</update>
	
	<!-- 도서 대여가능 상태 변경 + 카운터증가 -->
	<update id="updateBookStatusCount" parameterType="String">
		UPDATE 
			books  
		SET 
			CURRENTSTATUS='대여가능' ,
			RENTALCOUNT =RENTALCOUNT+1 ,
			RENTALDAYS=1 
		WHERE 
			BOOKCODE=(
				SELECT 
					rental.BOOKCODE 
				FROM 
					rental 
				WHERE 
					rental.RENTALCODE=#{rentalCode}
			); 
	</update>
	
	<!-- 대여 -->
	<insert id="insertRental" parameterType="com.naver.blog.valueObject.Rental" 
			useGeneratedKeys="true"  keyProperty="rentalCode">
		INSERT INTO
		rental (
			bookcode,
			memberid,
			rentalstartday,
			RETURNEXPECTDAY
		) 
		VALUES (
			#{bookCode},
			#{memberId},
			now(),
			#{returnExpectDay}
		); 	
	</insert>
	
	<!-- 결제 -->
	<insert id="insertPayMent" parameterType="com.naver.blog.valueObject.Rental">
		INSERT INTO 
		payment(
			RENTALCODE,
			MEMBERID,
			PAYMENTDAY,
			PAYMENTPRICE
		) 
		VALUES(
			#{rentalCode},
			#{memberId},
			now(),
			#{rentalPrice}
		); 
	
	</insert>
	
	<!-- 회원대여카운트 증가 -->
	<update id="updateMemberRentCount" parameterType="String">
		UPDATE 
			member 
		SET 
			member.RENTALCOUNT=member.RENTALCOUNT+1 
		WHERE 
			MEMBERID=#{id}; 
		
	</update>
	
	<!-- 도서대여상태 변경 -->
	<update id="updateBookStatus" parameterType="int">
		UPDATE 
			books  
		SET
			CURRENTSTATUS='대여불가능' 
		WHERE BOOKCODE=#{bookCode}; 

	</update>
	
	<!-- 도서등록 insert Book-->
 	<insert id="insertBook" parameterType="com.naver.blog.valueObject.Book">
 	INSERT INTO 
 	books (
	 	libcode,
	 	bookname,
	 	writer,
	 	publisher,
	 	category,
	 	genre,
	 	booklocation,
	 	currentstatus
 	) VALUES(
	 	#{libCode},
	 	#{bookName},
		#{writer},
	 	#{publisher},
	 	#{category},
	 	#{genre},
	 	#{bookLocation},
	 	'대여가능'
 	)
 	</insert>

</mapper>