<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.naver.blog.LibMapper">

	<!-- 지점등록 -->
	<insert id="libadd" parameterType="com.naver.blog.valueObject.Lib">
		INSERT INTO
			LIB(
				LIB_lib.LIBNAME,
				LIB_lib.LIBLOCATION
				)
		VALUE(
			#{libName},
			#{libLocation}
			)
	</insert>

	<!-- 폐기등록 -->
	<insert id="bookdisinsert" parameterType="int">
		INSERT INTO
			LIB_discardbooks(
				BOOKCODE,
				DISCARDREASON
			)
		VALUES(
		#{bookCode},
		'파손'
		);
	</insert>

	<!-- 폐기도서 대여 불가능상태로 변경 -->
	<update id="bookdis" parameterType="int">
		UPDATE 
			LIB_books
		SET 
			LIB_books.CURRENTSTATUS='대여불가능' 
		WHERE 
			LIB_books.BOOKCODE=#{bookCode}; 
	</update>

	<!-- 하나의 도서관 정보 조회 -->
	<select id="selectOneLib" resultType="com.naver.blog.valueObject.Lib" parameterType="int">
		SELECT
			LIBCODE,
			LIBNAME,
			LIBLOCATION
		FROM LIB_lib
		WHERE
			libcode=#{libCode};
	</select>

	<!-- 검색조건에 맞는 도서 조회 -->
	<select id="selectSearchBook" resultType="com.naver.blog.valueObject.Book" parameterType="com.naver.blog.valueObject.SearchVO">
		SELECT
			LIB_books.BOOKNAME AS bookName,
			LIB_books.LIBCODE AS libCode,
			LIB_books.WRITER AS writer,
			LIB_books.PUBLISHER AS publisher,
			LIB_books.CATEGORY AS category,
			LIB_books.GENRE AS genre,
			LIB_books.BOOKLOCATION AS bookLocation,
			LIB_books.CURRENTSTATUS AS currentStatus,
			LIB_books.RENTALCOUNT AS rentalCount,
			LIB_books.RENTALDAYS As rentalDays
		from 
			LIB_books
		WHERE 
			LIB_books.${searchOption} 
		LIKE
			'%${searchValue}%';
	</select>
	
	<!-- 하나의 도서정보 조회 -->
	<select id="selectOneBook" resultType="com.naver.blog.valueObject.Book" parameterType="int">
		SELECT
			*
		FROM
			LIB_books
		WHERE
			bookcode=#{bookCode}
	</select>
	
	<!-- 하나의 대여정보 조회 -->
	<select id="selectOneRental" resultType="com.naver.blog.valueObject.Rental" parameterType="int">
		SELECT 
			LIB_rental.BOOKCODE AS bookCode,
			LIB_rental.MEMBERID AS memberId, 
			LIB_rental.RENTALSTARTDAY AS rentalStartDay, 
			LIB_rental.RETURNEXPECTDAY AS returnExpectDay,
			LIB_rental.RETURNDAY AS returnDay,
			LIB_rental.RETURNSTATUS AS returnStatus,
			LIB_payment.PAYMENTPRICE AS rentalPrice
		FROM 
			LIB_rental
		INNER JOIN
			LIB_payment
		ON
			LIB_rental.RENTALCODE = LIB_payment.RENTALCODE
		WHERE
			LIB_rental.RENTALCODE = #{rentalCode};
	</select>

	<!-- 회원가입시 도서관 목록 가져오기 -->
	<select id="selectLib" resultType="com.naver.blog.valueObject.Lib">
		SELECT
			LIBCODE,
			LIBNAME,
			LIBLOCATION
		FROM LIB_lib
	</select>
	
	<!-- 도서 반납 -->
	<update id="updateReturnBook" parameterType="String">
		UPDATE 
			LIB_rental 
		SET 
			RETURNDAY = now(),
			RETURNSTATUS='반납' 
		WHERE 
			RENTALCODE = #{rentalCode}; 
	</update>
	
	<!-- 도서 대여가능 상태 변경 + 카운터증가 -->
	<update id="updateBookStatusCount" parameterType="String">
		UPDATE 
			LIB_books  
		SET 
			CURRENTSTATUS='대여가능' ,
			RENTALCOUNT =RENTALCOUNT+1 ,
			RENTALDAYS=1 
		WHERE 
			BOOKCODE=(
				SELECT 
					LIB_rental.BOOKCODE 
				FROM 
					LIB_rental 
				WHERE 
					LIB_rental.RENTALCODE=#{rentalCode}
			); 
	</update>
	
	<!-- 대여 -->
	<insert id="insertRental" parameterType="com.naver.blog.valueObject.Rental" 
			useGeneratedKeys="true"  keyProperty="rentalCode">
		INSERT INTO
		LIB_rental (
			bookcode,
			memberid,
			rentalstartday,
			RETURNEXPECTDAY
		) 
		VALUES (
			#{bookCode},
			#{memberId},
			now(),
			#{returnExpectDay}
		); 	
	</insert>
	
	<!-- 결제 -->
	<insert id="insertPayMent" parameterType="com.naver.blog.valueObject.Rental">
		INSERT INTO 
		LIB_payment(
			RENTALCODE,
			MEMBERID,
			PAYMENTDAY,
			PAYMENTPRICE
		) 
		VALUES(
			#{rentalCode},
			#{memberId},
			now(),
			#{rentalPrice}
		); 
	
	</insert>
	
	<!-- 회원대여카운트 증가 -->
	<update id="updateMemberRentCount" parameterType="String">
		UPDATE 
			LIB_member 
		SET 
			LIB_member.RENTALCOUNT=member.RENTALCOUNT+1 
		WHERE 
			MEMBERID=#{id}; 
		
	</update>
	
	<!-- 도서대여상태 변경 -->
	<update id="updateBookStatus" parameterType="int">
		UPDATE 
			LIB_books  
		SET
			CURRENTSTATUS='대여불가능' 
		WHERE BOOKCODE=#{bookCode}; 

	</update>
	
	<!-- 도서등록 insert Book-->
 	<insert id="insertBook" parameterType="com.naver.blog.valueObject.Book">
 	INSERT INTO 
 	LIB_books (
	 	libcode,
	 	bookname,
	 	writer,
	 	publisher,
	 	category,
	 	genre,
	 	booklocation,
	 	currentstatus
 	) VALUES(
	 	#{libCode},
	 	#{bookName},
		#{writer},
	 	#{publisher},
	 	#{category},
	 	#{genre},
	 	#{bookLocation},
	 	'대여가능'
 	)
 	</insert>

</mapper>